<%= form_with model: @question do |f| %>
<div>
  <div>  
    <%= f.label :title, 'Write the title' %>
    <%= f.text_field :title, required: true, minlength: 2 %>
  </div>
  <div>
    <%= f.label :body, 'Write question' %>
    <%= f.text_area :body, required: true, minlength: 2 %>
  </div>
  <div>
    <%= f.submit 'Send' %>  
  </div>
</div>
<% end %>